@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #002060;
}

.container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.teamInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#teamName {
    text-align: center;
    text-transform: uppercase;
    font-size: 30pt;
    margin: 2rem 0;
}

.teleoperado {
    width: 100%;
}
.retaFinal {
    width: 100%;
}
.autonomoSection {
    width: 100%;
}
.tabela1 {
    width: 100%;
    margin: 20px 0;
    height: 50px;
    background-color: #00b0f0;
    border-collapse: collapse;
    text-align: center;
}

#qt1,#qt2,#qt3,#qt4,#qt5,#qt1a,#qt2a,#qt3a,#qt4a,#qt5a,#nao1,#nao2,#nao3,#nao4,#nao1b,#nao2b,#nao3b,#nao4b {
    margin: 1.25rem;
}
.tableTitle {
    font-size: 14pt;
}

input[type="number"] {
    text-align: center;
    width: 40px;
    background-color: #00b0f0;
    outline: none;
    border: none;
    font-size: 20px;

}

input[type="button"] {
    background-color: transparent;
    border: none;
    font-size: 13pt;
}

.tabela1 td {
    border: .6px solid black;
    padding: .8rem 0;
}
.sectionChangeColor {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.changeColor {
    display: flex;
    align-items: center;
}
.changeColor input[type="text"] {
    margin-left: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: #d8d8d8;
}
.changeColor input[type="color"] {
    margin-left: 1rem;
    border: none;
    background-color: transparent;
    appearance: none;
    width: 35px;
    height: 35px;
}
.changeColor input[type="color"]::-webkit-color-swatch {
    border-radius: 5px;
}
.changeColor input[type="color"]::-moz-color-swatch {
    border-radius: 5px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 5rem;
    background-color: #ed7d31;
    width: 100%;
    padding: 1rem;
}

.social-medias a{
    display: flex;
    align-items: center;
}
.social-medias img {
    width: 1.6rem;
    margin-right: .6rem;
}
.social-medias span {
    display: flex;
    align-items: center;
}